__pycache__/
env/
build/
logs/
testing
libtraining_data_loader.*
*.yaml


checkpoints/
wandb/
lightning_logs/
data/raw/
benchmarks/
benchmark_results/
test_outputs/
example_benchmark_results/

# Stored checkpoitns
*.pt


.DS_Store

# Build directories
build/
engine/build/
engine/build/build_bench

# C++ compiled binaries and artifacts
*.exe
*.out
*.so
*.dylib
*.dll
*.a
*.lib
